<div class="main-content">  
  <div class="top-content">
    <div class="main-image-content">
      <i class="fa fa-home fa-5x"></i>
    </div>
    <div class="description-content">
      <p class="title"> Title Goes here </p>      
      
         <p> This is where the description for the application could go.
          This could possibly be a few lines of text that would explain what 
          the intent of the application should be.  This should be provided
          to us by someone who fully understands the intent of the application. 
        </p>   
        <div class="description-button-content">
          <button mat-icon-button class="fa fa-2x fa-bell"></button>
          <button mat-icon-button class="fa fa-2x fa-bell"></button>
        </div>        
    </div>
  </div>
  <div class="application-content">
    <div class="application-content-item">
      <i class="fa fa-home fa-5x"></i>
    </div>
    <div class="application-content-item">
      <i class="fa fa-home fa-5x"></i>
    </div>
    <div class="application-content-item">
      <i class="fa fa-home fa-5x"></i>
    </div>
  </div>
</div>