.nav-container {
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 0; 
  width: 45px;  
  height: 100%;
   border-right-style: solid;
    border-right-width: 1px;
    border-right-color: gray;
}

.nav-container button{
    color: black;
}