<div class="toptoolbar-container">
  <p>Test User</p>
  <button mat-icon-button class="fa fa-2x fa-user"></button>  
  <button mat-icon-button class="fa fa-2x fa-bell"></button>
  <button mat-icon-button class="fa fa-2x fa-bell"></button>

  <mat-menu #rootMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="subMenu">API's</button>
    <button mat-menu-item>Help</button>
  </mat-menu>

  <mat-menu #subMenu="matMenu">
    <button mat-menu-item>API 1</button>
    <button mat-menu-item>API 2</button>
    <button mat-menu-item>API 3</button>
  </mat-menu>

  <button mat-icon-button class="fa fa-2x fa-question" [matMenuTriggerFor]="rootMenu"> </button>    

</div>