.toptoolbar-container {
  position: absolute;
  top: 0;  
  right: 0; 
  width: 100%;  
  height: 45px;
  border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;
  z-index: 9;
}

.toptoolbar-container > * {
    float: right;
    color: black;
}

.toptoolbar-container > p {
    margin-right: 5px;
    margin-left: 5px;
    color: black;
}

.toptoolbar-container button:first-child {
    margin-right: 50px;
}