<div style="height: 100%; width: 100%; display: flex; align-items:center; justify-content: center; flex-direction: column;">
  <div style="flex: 1;height: 98%; width: 98%; border-color: gray; border-width: thin; border-style: solid; background-color:white; display: flex; align-items:center; justify-content: center; flex-direction: column; margin: 10px;">
    <p style="font-weight: bold; margin-left: 5px; width: 99%; border-bottom-color: gray; border-bottom-width: thin; border-bottom-style: solid;"> Create a gadget </p>

    <div style="flex: 10"> Content goes here</div>
    <div style="flex: 1;width:99%">
      <button mat-icon-button class="fa fa-2x fa-chevron-right" style="float: right"></button>
      <button mat-icon-button class="fa fa-2x fa-chevron-left" style="float:left"></button>
    </div>
  </div>  
</div>